/* pre-made styles, do not alter */


.piano {
  background: orange;
  display: flex;
  justify-content: space-evenly;
  height: 300px;
}

.blackKey {
  background: black;
}

.whiteKey {
  background: white;
}