/* pre-made styles, do not alter */


.piano {
  position: relative;
  background: orange;
  display: flex;
  justify-content: center;
  height: 300px;
}

.whiteKey {
  cursor: pointer;
  background: white;
  width: 50px;
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.blackKeyContainer {
  position: relative;
}

.blackKey {
  background: black;
  position: absolute;
  height: 70%;
  width: 30px;
  color: white;
  left: -15px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


.blackKey:hover {
  background: gray;
}

.whiteKey:hover {
  background: rgb(204, 202, 202);
}

